/* browser font size used for dev - 16px */

.login-wrapper-div {
    display: grid;
    justify-items: center;
    align-content: space-evenly;

    height: 15rem;
    width: 25rem;
    background-color: #9c2323;
    border: 0.125rem solid #000;
    border-radius: 2rem;
}

button {
    height: 3rem;
    width: 8rem;
    font-size: 1.1rem;
    border-radius: 1rem;
}

button:hover, button:focus {
    cursor: pointer;
    background: #251377;
    color: #fff;
}

.form-wrapper-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}
