# Ignore virtual environments
env/
.venv/
venv/

# Ignore Python bytecode files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints

# Ignore local development settings
.vscode/
.idea/
*.env

# Ignore build and distribution files
build/
dist/
*.egg-info/