.paper-abstract {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result {
    width: 900px;
}

.search-results-wrapper {
    height: 500px;
    overflow-y: scroll;
}