.search-result {
    width: 50.25em;
    margin-left: 1.5em;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-results-wrapper {
    height: 31.25em;
    overflow-y: scroll;
    margin-top: 1em;
}

img {
    width: 2em;
    height: 2em;
}

.link-wrapper {
    height: max-content;
    align-self: center;
    margin-right: 2em;
}