.search-result{
    width: 50.25rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    align-items: center;
}

.search-result:last-child {
    margin-bottom: 1rem;
}

.search-results-wrapper {
    height: 31.25em;
    overflow-y: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 2rem;
    height: 2rem;
}

.link-wrapper {
    height: max-content;
    align-self: center;
    margin-right: 1rem;
}

.available-in-db-indicator {
    align-self: center;
    margin-right: 1rem
}