.search-bar {
    width: 245px;
    height: 24px;

    border-style: none;
    outline: none;
}

.search-bar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 300px;
    height: 32px;

    border-radius: 35px;
    border-style: solid;
}

.search-icon {
    width: 24px;
    height: 24px;
}