.signup-container {
    width: 300px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-wrapper {
    margin-bottom: 20px;
  }
  
  .form-wrapper label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
  }
  
  .form-wrapper input, .form-wrapper select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .form-wrapper select {
    max-width: 100%; /* Ensures it doesn't exceed container's width */
    width: 100%; /* Ensures it fills the same width as other fields */
  }
  
  .form-wrapper input:focus, .form-wrapper select:focus {
    border-color: #007bff; /* Focus border color */
    outline: none;
  }
   /* Button styling */
   .btn-primary {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-primary:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  