<form [formGroup]="picoFormGroup" (ngSubmit)="onSubmit()">
    <div class="wrapper-div">
        <div class="search-bar-div">
            <h3>Population</h3>
            <input type="text" class="search-bar" [formControl]="picoFormGroup.controls.populationFormControl">
        </div>
        <div class="search-bar-div">
            <h3>Intervention</h3>
            <input type="text" class="search-bar" [formControl]="picoFormGroup.controls.interventionFormControl">
        </div>
        <div class="search-bar-div">
            <h3>Comparison</h3>
            <input type="text" class="search-bar" [formControl]="picoFormGroup.controls.comparisonFormControl">
        </div>
        <div class="search-bar-div">
            <h3>Outcome</h3>
            <input type="text" class="search-bar" [formControl]="picoFormGroup.controls.outcomeFormControl">
        </div>
    </div>
    <button type="submit"> <p>Search</p> <img src="../../../assets/search-icon.png" class="search-icon"> </button>
</form>