.home-page-div-res-available{
    display: grid;
    justify-items: start;
}

.home-page-div-res-not-avail {
    display: grid;
    justify-items: center;
}

.spinner-div {
    margin-top: 1.5em;
}

.form-elements-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}