<section class="container text-center">
    <div class="col-7">
        <header>
            <h6>Meta-analysis AI Assistant is helping you to retrieve the best suitable papers for you using the following selection criteria:</h6>
        </header>
    </div>
    <section class="prompts-and-filter">
        <form [formGroup]="promptsFormGroup" class="col-5 d-flex align-items-center flex-column justify-content-between">
            <div class="wrapper-div">
                <div formArrayName="prompts" class="w-75">
                    <div *ngFor="let promptInput of prompts.controls; let idx = index">
                        <div [formGroupName]="idx" class="col-md-12">
                            <label class="form-label" for="prompt-{{ idx }}"><b>Prompt {{ idx+1 }}</b></label>
                            <div class="prompt-input-wrapper">
                                <input type="text" class="form-control border border-dark" id="prompt-{{ idx }}" formControlName="prompt"
                                [placeholder]="predefinedPrompts[idx]">
                                <button (click)="addPrompt()" *ngIf="prompts.length < maxPrompts">
                                    <img src="../../../assets/add-icon.svg" title="Add prompt">
                                </button>
                                <button (click)="removePrompt(idx)" *ngIf="prompts.length > 1">
                                    <img src="../../../assets/delete-icon.svg" title="Delete prompt">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" (click)="filterSelectedPapers()">Filter</button>
        </form>
    </section>
</section>
<section class="container d-flex mt-5 mx-2 justify-content-between" style="min-width: 112.5rem;">
    <div class="selected-titles-wrapper mt-5">
        <header class="text-start">
            <h5><b>The following titles were selected:</b></h5>
        </header>
        <div *ngFor="let title of selectedTitles" class="mt-3">
            <div class="text-wrap">{{ title }}</div>
        </div>
    </div>
    <div *ngIf="areRecommendationAvailable" class="ms-5 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Effect size</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let entry of mockEffectSizeList; index as idx">
                    <th scope="row">{{ idx + 1 }}</th>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.effectSize }}</td>
                </tr>
                <tr>
                    <th colspan="2" scope="row">Average effect size</th>
                    <td>{{ calculateAvgEffectSize() }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>