.prompts-and-filter {
    display: flex;
    width: 100%;
    justify-content: center;
}

section.container:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 75%;
}

button:not(.btn-primary) {
    margin-left: 1rem;
}

.prompt-input-wrapper {
    display: flex;
}

.wrapper-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 16em;
    width: 100%;
}

.col-md-12 {
    margin-top: 1rem;
}

.selected-titles-wrapper {
    height: 16em;
    overflow-y: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-primary {
    width: 25%;
}

.table-responsive {
    height: 20rem;
}