form {
    width: 75%;
    max-height: inherit;
}

button:not(.btn-primary) {
    margin-left: 1rem;
}

.wrapper-div {
    overflow-y: auto;
    max-height: 16rem;
    width: 100%;
}

.col-md-12 {
    margin-top: 1rem;
}

.selected-titles-wrapper {
    height: 16em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table-responsive {
    height: 16rem;
}

thead, header.text-start {
    position: sticky;
    top: 0;
}